* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

body .header-content {
  background: #272727;
  color: #ffffff;
}

.navigation {
  background-color: #000000;
}

.navigation ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation li {
  flex: 1 1 auto;
}

.navigation a {
  font-weight: 700;
  display: block;
  color: #eeeeee;
  padding: 0.75rem;
  text-decoration: none;
  text-align: center;
}

.navigation a:hover {
  text-decoration: underline;
  text-decoration-color: #c2c2c2;
}

.parent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 75px 40px 1fr 125px;
  grid-template-areas: 
  "header header"
  "nav nav"
  "main aside"
  "footer footer";
}

.header-content {
  grid-area: header;
}

.navigation {
  grid-area: nav;
}

.main-content {
  grid-area: main;
}

.aside-content {
  grid-area: aside;
}

.footer-content {
  grid-area: footer;
}

.darkgrey {
  background-color: #272727;
  color: #ffffff;
}

.grey {
  background-color: #cccccc;
}

.white {
  background-color: #ffffff;
}
